---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Acerca de nosotros</Fragment>
      <Fragment slot="desc">Somos Seicho</Fragment>
    </Sectionhead>

    <div
      class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div
        class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <div>
        </div>
        <p class="text-base text-gray-700 md:text-lg">
          Somos mucho más que una agencia; somos tu socio en el viaje hacia el
          éxito del ecommerce. En Seicho, nacimos con un propósito claro: llevar
          las tiendas online hacia el siguiente nivel.
        </p>
      </div>
      <div class="grid max-w-screen-lg gap-8 lg:grid-cols-2 sm:mx-auto">
        <div class="grid grid-cols-2 gap-5">
          <img
            class="object-cover w-full h-56 col-span-2 rounded shadow-lg"
            src="/about1.jpg"
            alt=""
          />
          <img
            class="object-cover w-full h-48 rounded shadow-lg"
            src="/about2.jpg"
            alt=""
          />
          <img
            class="object-cover w-full h-48 rounded shadow-lg"
            src="/about3.jpg"
            alt=""
          />
        </div>
        <div class="flex flex-col justify-center">
          <div class="pb-4 mb-4 border-b">
            <p class="text-sm text-gray-900">
              Pero, ¿qué entendemos por "siguiente nivel"? Creemos que muchas
              marcas subestiman su potencial y limitan su crecimiento. Es aquí
              donde entra en juego <b>Seicho</b>. Nos especializamos en todas las
              áreas del ecommerce, enfocándonos en alcanzar la máxima calidad a
              través de diseños y páginas web de nivel profesional.
            </p>
          </div>
          <div class="pb-4 mb-4 border-b">
            <p class="text-sm text-gray-900">
              Sin embargo, no nos detenemos en el diseño. Comprendemos que
              atraer tráfico orgánico es fundamental para aumentar las ventas de
              tu tienda. Nuestro compromiso va más allá de la apariencia;
              trabajamos para posicionar tu negocio en los corazones y las
              mentes de tus clientes potenciales.
            </p>
          </div>
          <div class="pb-4 mb-4 border-b">
            <p class="text-sm text-gray-900">
              Además de las características mencionadas, también somos expertos
              en gestionar tus campañas de "Paid Media". Estudiamos y
              estructuramos estrategias personalizadas que se adapten a las
              necesidades únicas de tu tienda.
            </p>
          </div>
          <div>
            <p class="text-sm text-gray-900">
              En <b>Seicho</b>, no solo brindamos servicios; creamos oportunidades.
              Cada proyecto es un lienzo en blanco que llenamos con innovación,
              dedicación y un enfoque implacable en elevar la calidad y el éxito
              de tu tienda online. Juntos, definiremos tu camino hacia el
              dominio digital.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
