---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "WebStart",
    price: "$800",
    popular: false,
    features: [
      "Desarrollo web",
      "Diseño personalizado",
      "Despliegue y migración",
      "Optimización móvil",
      "Velocidad web",
    ],
    button: {
      text: "Contáctenos",
      link: "/contact",
    },
  },
  {
    name: "SEOPro",
    price: {
      monthly: "$700",
      annual: "$16",
      discount: "",
      original: "/mes",
    },
    popular: true,
    features: [
      "Keyword Research",
      "SEO on Page",
      "Link Building",
      "SEO Técnico",
      "Blog y Marketing de contenidos",
    ],
    button: {
      text: "Contáctenos",
      link: "/contact",
    },
  },
  {
    name: "CustomCraft",
    price: "Personalizado",
    popular: false,
    features: [
      "Estrategias Paid Media",
      "Soporte técnico",
      "Community managment",
      "Frontend con código",
      "Sub paquetes",
    ],
    button: {
      text: "Contáctenos",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precios</Fragment>
      <Fragment slot="desc">
        Precios simples y predecibles. Sin sorpresas.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
