---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Técnoligas con las que trabajamos</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:wordpress" />
    <Icon class="h-8 md:h-14" name="simple-icons:shopify" />
    <Icon class="h-8 md:h-12" name="simple-icons:webflow" />
    <Icon class="h-8 md:h-12" name="simple-icons:prestashop" />
    <Icon class="h-8 md:h-12" name="simple-icons:magento" />
  </div>
</div>
