<div id="workflow" class="py-16 px-4 bg-white-200">
  <!-- Contenido de la sección de arriba -->
</div>

<div class="flex flex-col md:flex-row">
  <!-- Columna izquierda -->
  <div
    class="md:w-1/2 bg-white-100 py-16 px-10 flex flex-col justify-center items-center">
    <h2 class="text-3xl font-bold mb-4 text-center">Proceso de Trabajo</h2>
    <p class="text-lg text-gray-600 text-center">
      En <b>Seicho</b>, nuestro enfoque se basa en un proceso estratégico que
      garantiza resultados efectivos y la satisfacción de nuestros clientes. A
      través de cada etapa, trabajamos en colaboración para crear una
      experiencia digital inigualable.
    </p>
  </div>

  <!-- Columna derecha -->
  <div class="md:w-1/2 bg-white py-16 px-10">
    <!-- Stepper -->
    <div class="space-y-8">
      <!-- Paso 1 -->
      <div class="flex items-center">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-black transition-transform transform hover:scale-110">
          <span class="text-black text-lg font-semibold"
            >&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-medium">Consulta inicial</h3>
          <p class="text-gray-600">
            Comenzamos con una conversación en la que nos sumergimos en la
            visión de tu negocio y tus objetivos.
          </p>
        </div>
      </div>

      <!-- Paso 2 -->
      <div class="flex items-center">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-black transition-transform transform hover:scale-110">
          <span class="text-black text-lg font-semibold"
            >&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-medium">Diseño sorprendente</h3>
          <p class="text-gray-600">
            Nuestro equipo crea un diseño a medida que refleje tu visión.
            Visualiza tu marca tomando vida.
          </p>
        </div>
      </div>

      <div class="flex items-center">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-black transition-transform transform hover:scale-110">
          <span class="text-black text-lg font-semibold"
            >&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-medium">Construcción Personalizada</h3>
          <p class="text-gray-600">
            Tomamos el diseño y construimos una tienda online que funciona
            perfectamente. Simplificamos la tecnología para ti.
          </p>
        </div>
      </div>

      <div class="flex items-center">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-black transition-transform transform hover:scale-110">
          <span class="text-black text-lg font-semibold"
            >&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-medium">Estrategia Imparable</h3>
          <p class="text-gray-600">
            Lanzamos estrategias para atraer a tu audiencia y aumentar tus
            ventas. Te mantenemos en el radar de tus clientes.
          </p>
        </div>
      </div>

      <!-- Paso 6 -->
      <div class="flex items-center">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-black transition-transform transform hover:scale-110">
          <span class="text-black text-lg font-semibold"
            >&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-medium">Éxito a la vista</h3>
          <p class="text-gray-600">
            Monitoreamos tus resultados y ajustamos estrategias según lo
            necesites. Tus objetivos son nuestro foco constante.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
